@using CatalogoDeFilmes.Application.Models
@model FilmesModel

<div class="container bg-dark p-5 rounded-5">

    <div class="mb-5 text-center ">

        <h1 class="text-light">Cadastro de Filme</h1>

    </div>

    <form method="post" asp-controller="Filmes" asp-action="CadastrarFilme">
        <!--NOME-->
        <div class="mb-3">
            <label for="NomeFilme" class="form-label text-light">Nome:</label>
            <input type="text" class="form-control" id="NomeFilme" asp-for="NomeFilme" placeholder="Nome do filme :">
            <span asp-validation-for="NomeFilme" class="text-danger"></span>
        </div>

        <!--SOBRENOME-->
        <div class="mb-3">
            <label for="Genero" class="form-label text-light">Genero do(a) diretor(a) </label>
            <input type="text" class="form-control" id="Genero" asp-for="Genero" placeholder="Gênero">
            <span asp-validation-for="Genero" class="text-danger"></span>
        </div>


        <!--DIRETOR-->
        <div class="mb-3">
            <label for="DiretorId_Fk" class="form-label text-light">Diretor)</label>
            @* <input type="text" class="form-control" id="Description" asp-for="Sexo" placeholder=""> *@
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="DiretorId_Fk" id="DiretorId_Fk" required>
                <option value="@Model">Masculino</option>
                @* Aqui provavelmente será um foreach onde exibirá a lista de todos os nome de diretores, e enviar o id desse diretor *@
                @* @foreach(var opcao in List<>)
                    {
                     <option value="@opcao.DiretorId_Fk">@opcao.DiretorNome</option>   
                    } *@

            </select>
            <span asp-validation-for="DiretorId_Fk" class="text-danger"></span>
        </div>

        <!--DATADELANÇAMENTO-->
        <div class="mb-3">
            <label for="DataLancamento" class="form-label text-light">Data de lançamento </label>
            <input type="date" class="form-control" id="DataDeNascimento" asp-for="DataLancamento" placeholder="Data de Lançamento">
            <span asp-validation-for="DataLancamento" class="text-danger"></span>
        </div>


        <!--BOTÃO-->
        <div class="d-flex gap-5 mt-5">
            <button type="submit" class="btn btn-success w-50">Adicionar <i class="bi bi-pen mx-2"></i> </button>
            <a class="btn btn-primary w-50" asp-controller="Diretores" asp-action="Index">Voltar <i class="bi bi-arrow-return-left" mx-2></i></a>

        </div>


    </form>
</div>