@using CatalogoDeFilmes.Application.Models
@model FilmesModel

<div class="container bg-dark p-5 rounded-5">

    <div class="mb-5 text-center ">

        <h1 class="text-light">Edição de Filme</h1>

    </div>
    @if (Model?.errorMsg != null && Model.errorMsg.Any())
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <ul class="mb-0">
                @foreach (var erro in Model.errorMsg)
                {
                    <li>@erro</li>
                }
            </ul>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    }


    <form method="post" asp-controller="Filmes" asp-action="EditarFilme" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />


        <!--NOME-->
        <div class="mb-3">
            <label for="NomeFilme" class="form-label text-light">Nome:</label>
            <input type="text" class="form-control" id="NomeFilme" asp-for="NomeFilme" placeholder="Nome do filme :">
            <span asp-validation-for="NomeFilme" class="text-danger"></span>
        </div>

        <!--GENERO-->
        <div class="mb-3">
            <label for="Genero" class="form-label text-light">Genero do(a) diretor(a) </label>
            <input type="text" class="form-control" id="Genero" asp-for="Genero" placeholder="Gênero">
            <span asp-validation-for="Genero" class="text-danger"></span>
        </div>


        <!--DIRETOR USANDO VIEWBAG-->
        <div class="mb-3">
            <label for="DiretorId_Fk" class="form-label text-light">Selecione um diretor</label>

            <select asp-for="DiretorId_Fk" asp-items="@(ViewBag.ListaDiretores as SelectList)" class="form-select form-select-lg mb-3">
                
            </select>
            <span asp-validation-for="DiretorId_Fk" class="text-danger"></span>
        </div>

        <!--DATA DE LANÇAMENTO-->
        <div class="mb-3">
            <label for="DataLancamento" class="form-label text-light">Data de lançamento </label>
            <input type="date" class="form-control" id="DataDeNascimento" asp-for="DataLancamento" placeholder="Data de Lançamento">
            <span asp-validation-for="DataLancamento" class="text-danger"></span>
        </div>

        <!--DURAÇÃO DO FILME-->
        <div class="mb-3">
            <label for="GeneDuracaoro" class="form-label text-light">Duração em minutos </label>
            <input type="number" class="form-control" id="Duracao" asp-for="Duracao" placeholder="Duracao">
            <span asp-validation-for="Duracao" class="text-danger"></span>
        </div>

        <!--UPLOAD DE IMAGEM-->
        <input type="hidden" asp-for="Imagem" />
        <div class="row mb-3 align-items-center">

            <div class="col-sm-2 text-center">
                <img src="/imgs/cartazes/@Model.Imagem" width="150" class="img-thumbnail">
            </div>

            <div class="col-sm-10">
                <label for="Imagem" class="form-label text-light">Imagem do filme (opcional)</label>
                <input type="file" asp-for="Imagem" id="Imagem" name="foto" class="form-control" />
            </div>

            <span asp-validation-for="Imagem" class="text-danger"></span>

        </div>

        <!--NOTA DO FILME-->
        <div class="mb-3">
            <label for="Nota" class="form-label text-light">Nota do filme 1-10 </label>
            <input type="number" class="form-control" id="Nota" asp-for="Nota" placeholder="Nota" step="any">
            <span asp-validation-for="Nota" class="text-danger"></span>
        </div>

        <!--BOTÃO-->
        <div class="d-flex gap-5 mt-5">
            <button type="submit" class="btn btn-success w-50">Enviar <i class="bi bi-pen mx-2"></i> </button>
            <a class="btn btn-primary w-50" asp-controller="Filmes" asp-action="Index">Voltar <i class="bi bi-arrow-return-left" mx-2></i></a>

        </div>


    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}