@using CatalogoDeFilmes.Application.Models
@model FilmesModel

<div class="container bg-dark p-5 rounded-5">

    <div class="mb-5 text-center ">

        <h1 class="text-light">Remover Filme</h1>

    </div>

    <form method="post" asp-controller="Filmes" asp-action="ExcluirFilme">
        <input type="hidden" asp-for="Id" />

        <h2 class="text-light">Confirmação dos dados a serem deletados</h2>
        <!--NOME-->
        <div class="mb-3">
            <label for="NomeFilme" class="form-label text-light">Nome:</label>
            <input type="text" class="form-control" id="NomeFilme" asp-for="NomeFilme" placeholder="Nome do filme :" disabled>
            <span asp-validation-for="NomeFilme" class="text-danger"></span>
        </div>

        <!--GENERO-->
        <div class="mb-3">
            <label for="Genero" class="form-label text-light">Genero do(a) diretor(a) </label>
            <input type="text" class="form-control" id="Genero" asp-for="Genero" placeholder="Gênero" disabled>
            <span asp-validation-for="Genero" class="text-danger"></span>
        </div>


        <!--DIRETOR USANDO VIEWBAG-->
        <div class="mb-3">
            <label for="DiretorId_Fk" class="form-label text-light">Selecione um diretor</label>

            <select asp-for="DiretorId_Fk" asp-items="@(ViewBag.ListaDiretores as SelectList)" class="form-select form-select-lg mb-3" disabled>
            </select>
            <span asp-validation-for="DiretorId_Fk" class="text-danger"></span>
        </div>

        <!--DATA DE LANÇAMENTO-->
        <div class="mb-3">
            <label for="DataLancamento" class="form-label text-light">Data de lançamento </label>
            <input type="date" class="form-control" id="DataDeNascimento" asp-for="DataLancamento" placeholder="Data de Lançamento" disabled>
            <span asp-validation-for="DataLancamento" class="text-danger"></span>
        </div>

        <!--DURAÇÃO DO FILME-->
        <div class="mb-3">
            <label for="GeneDuracaoro" class="form-label text-light">Duração em minutos </label>
            <input type="number" class="form-control" id="Duracao" asp-for="Duracao" placeholder="Duracao" disabled>
            <span asp-validation-for="Duracao" class="text-danger"></span>
        </div>

        <!--UPLOAD DE IMAGEM-->
        <input type="hidden" asp-for="Imagem" />
        <div class="row mb-3 align-items-center">

            <div class="col-sm-2 text-center">
                <img src="/imgs/cartazes/@Model.Imagem" width="150" class="img-thumbnail">
            </div>


        </div>

        <!--NOTA DO FILME-->
        <div class="mb-3">
            <label for="Nota" class="form-label text-light">Nota do filme 1-10 </label>
            <input type="number" class="form-control" id="Nota" asp-for="Nota" placeholder="Nota" disabled>
            <span asp-validation-for="Nota" class="text-danger"></span>
        </div>

        <!--BOTÃO-->
        <div class="d-flex gap-5 mt-5">
            <button type="submit" class="btn btn-danger w-50">Excluir <i class="bi bi-trash2"> </i></button>
            <a class="btn btn-primary w-50" asp-controller="Filmes" asp-action="Index">Voltar <i class="bi bi-arrow-return-left" mx-2></i></a>
        </div>


    </form>
</div>